<%= form_for(@feedback) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="field">
        <%= f.text_area :content, placeholder: @user.id %>
        </div>
        <%= f.submit "Leave Feedback", class: "btn btn-primary" %>
        
        <% end %>