        <h1>HOME</h1>
        
        <h2>This is the home page - page where we lookup the type of business? I think that's a smart place to start, landing page style.</h2>

                <p>Search for user here?</p>
                
                <p>AJAX fill in results here</p>
                
                <p>Don't see the guy you're looking for?</p>
                <%= link_to "Create a page for a colleague", createuser_path, class: "btn btn-lg btn-primary" %>