<footer class="footer">
    <small>
        <a href="www.fiveme.io">FDBCK</a>
        by <a href="www.fiveme.io">Five Inc</a>
    </small>
    <nav>
        <ul>
            <li><%= link_to "FAQ", faq_path %></li>
            <li><%= link_to "Contact", contact_path %></li>
        </ul>
    </nav>
</footer>